
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

body{
    background-image: url(bg.png);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-position-x: center;
}


.calculator{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 350px;
    box-shadow: 0px 0px 6px 3px #009aff;
}


.screen{
    width: 100%;
    height: 120px;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 8% 10px;
    align-items: center;
    position: relative;
    text-align: right;
    overflow: hidden;
}

.dis1{
    opacity: 0.6;
    font-size: 20px;
    margin-bottom: 5px;
}

.dis2{
    font-size: 32px;
}


.dis3{
    font-size: 20px;
    opacity: 0.5;
    position: absolute;
    left: 15px;
    bottom: 5px;
}


.button_wrapper{
    display: flex;
    flex-wrap: wrap;
}



.buttons{
    height: 80px;
    width: 25%;
    background-color: #191919;
    color: #ffffff;
    font-size: 22px;
    outline: none;
    border: 1px solid #000000;
    cursor: pointer;
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    display: flex;
}


.buttons:hover{
    background: #323232;
}


div.zero{
    width: 50%;
}


@media only screen and (max-width: 600px) {
    .buttons:hover{
        background: #191919;
    }
}
